---
layout: default
title: Threonine design
permalink: '/'
pagination: 
  enabled: true
---

<!-- start: hero section -->
<section class="site-hero" style="background-image: url({{ 'images/backgrounds/banniere.gif' | absolute_url }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="site-hero-content text-center">
          <h1>
            Bring life to science
          </h1>
          <ul class="site-hero-content-buttons">
            <li>
              <a href="{{ '/portfolio' | absolute_url }}" class="btn btn-secondary scroll-to">
                <span class="btn-area">
                  <span data-text="See my work">
                    See my work
                  </span>
                </span>
              </a>
            </li>
            <li>
              <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary">
                <span class="btn-area">
                  <span data-text="Contact me">
                    Contact me
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#why" class="site-hero-scroll scroll-to">
    <img id="arrow-down" src="images/arrow-down.png" alt="arrow-down">
  </a>
</section>
<!-- end: hero section -->

<!-- start: why section -->
<section id="why" class="features">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center" style="margin-top: 20px;">
              <div>
                  <h2>Why working with me ?</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3 why-item">
                      <div>
                          <p>Experience of the research environment</p>
                      </div>
                      <img src="images/why/THESIS.png" alt="thése">
                  </div>
                  <div class="col-md-3 why-item">
                    <div>
                        <p>Advices of design</p>
                    </div>
                    <img src="images/why/ADVICES.png" alt="conseils">
                </div>
                <div class="col-md-3 why-item">
                  <div>
                      <p>Accurate illustration <br>of the information</p></br>
                  </div>
                  <img src="images/why/ACCURATE.png" alt="fidéle">
              </div>
              <div class="col-md-3 why-item">
                <div>
                    <p>Diversity of the projects</p>
                </div>
                <img src="images/why/DIVERSITY.png" alt="Diversité">
              </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end: why section -->


<!-- start: portfolio section -->
<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>My recent work</h2>
        </div>
      </div>
      {% assign posts = site.posts | where:'type', 'portfolio' %}
      {%- for post in posts limit: 4 -%}
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="{{ post.image }}" alt="project-thumb-one">
          </div>
          <div class="site-project-item-content">
            <span>{{ post.category[0] }}</span>
            <h3>{{ post.title }}</h3>
            <a href="{{ post.url | absolute_url }}" class="read-more">See the project</a>
          </div>
        </div>
      </div>
      {%- endfor -%}
      <div class="col-12 text-center text-lg-left">
        <a href="{{ '/portfolio' | absolute_url }}" class="site-project-cta">See more</a>
      </div>
    </div>
  </div>
</section>
<!-- end: portfolio section -->

{% if site.data.testimonials.enable %}
<!-- start: testimonial section -->
<section class="site-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            {{ site.data.testimonials.title }}
          </h2>
          <p>
            {{ site.data.testimonials.subtitle }}
          </p>
        </div>
      </div>
      {% for testimonial in site.data.testimonials.testimonial_item %}
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="person">
              <h5>{{ testimonial.name }}</h5>
              <p class="site-testimonial-item-body">
                {{ testimonial.subtitle }}
              </p>
            </div>
          </div>
          <div class="thumb">
            <img src="{{ testimonial.thumb | absolute_url }}" alt="user-thumb">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end: testimonial section -->
{% endif %}

{% if site.data.testimonials-vrai.enable %}
<!-- start: testimonialvrai section -->
<section id="testimonialvrai" class="site-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            {{ site.data.testimonials-vrai.title }}
          </h2>
          <p>
            {{ site.data.testimonials-vrai.subtitle }}
          </p>
        </div>
      </div>
      {% for testimonial in site.data.testimonials-vrai.testimonial_item %}
      <div class="col-lg-6 col-md-12">
        <div class="site-testimonial-item"><!--pose probleme, enleve les box quand on cite testimonialvrai-->
          <div class="site-testimonial-item-header">
            <div class="person">
              <h5>{{ testimonial.name }}</h5>
              <p class="site-testimonial-item-body">
                {{ testimonial.subtitle }}
              </p>
            </div>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end: testimonial section -->
{% endif %}

{% include call-to-action.html %}
