#why {
  background-color: #E1E157;

  h2 {
    margin: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 48px;
  }
  .why-item {
    text-align: center;
    div {
      text-transform: uppercase;
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      p {
        font-size: 14px;
        vertical-align: middle;
        color: #4A4A49;
      }
    }
    img {
      max-height: 100px;
      margin-bottom: 40px;
    }
  }
}